.header {
    padding: 52px 100px 89px;
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo {
    font-weight: 300;
    font-size: 48px;
    line-height: 90%;
    font-family: "Open Sans", sans-serif;
    font-stretch: condensed;
    letter-spacing: 0.01em;
  }
  
  .header__links {
    color: #000;
    font-size: 24px;
    line-height: 25px;
    display: flex;
    gap: 183px;
  }
  
  .header__links a {
    color: #000;
  }
  
  .header__icons {
    display: flex;
    align-items: center;
    gap: 38px;
    justify-content: flex-end;
  }
  .header__menu{
    position: relative;
  }
  .header__menu-list {
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    background: #f3efe8;
    width: 316px;
    z-index: 999;
    font-size: 16px;
    line-height: 130%;
    border: 1px solid #6F6D6D;
    border-radius: 6px 0px 6px 6px;
  }
  .menu__item  {    
    border-bottom: 0.5px solid #C4C4C4;
    cursor: pointer;
  }
  .menu__link {
    display: block;
    padding: 15px 20px;
  }
  .menu__item-categories {    
    display: flex;
    justify-content: space-between;
  }
  .menu__item-categories::after {
    content: url('../assets/open-close-icon.svg');
    transition: transform 0.7s;
    transform-origin: 50% 60%;
  }
  .menu__item-categories_opened::after {
    transform: scaleY(-1);
  }
  .menu__category-item {    
    border-top: 0.5px solid #C4C4C4;
  }
  .menu__category-link {
    display: block;
    padding: 10px 20px;
  }
  .menu__category-link::before {
    display: inline-block;
    content: url('../assets/open-close-icon.svg');
    transition: transform 0.7s;
    margin-right: 5px;
    transform-origin: 50% 60%;
  }
  .menu__category-link_opened::before {
    transform: scaleY(-1);
  }
  .menu__post-list {
    border-top: 0.5px solid #C4C4C4;
    padding-bottom: 6px;
    padding-top: 6px;
  }
  .menu__post-item {
    padding: 3px 37px;
  }
  .header__menu-icon {
    border: none;
    background-color: transparent;
  }
  .header__search {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;    
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    overflow: hidden;
    transition: width 0.5s;    
    &-container {
      position: relative;
    }
    &-results {
      box-sizing: border-box;
      position: absolute;
      background: #f3efe8;
      width: 362px;      
      top: 60px;
      line-height: 130%;
      border: 1px solid #6F6D6D;
      border-radius: 6px 0px 6px 6px;
      padding: 20px;     
    }           
  }
  .header__results-list {
      display: flex;
      flex-direction: column;    
      &-item {
        padding: 5px 0;
        font-size: 20px;
      }    
  }
  .header__search_open {
    width: 362px;
  }
  .header__container>div {
    width: calc(100% / 3);
  }
  .header__search-icon {
    flex-shrink: 0;
  }
  .header__search-input {
    border: none;
    background-color: transparent;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 18px;
        flex-grow: 1;
        margin-right: 25px;
  }
  .header__search-input:focus {
    outline: none;
  }