
.main {
    padding-bottom: 107px;
  }
  .main__heading {
    text-align: center;
    font-size: 72px;
    line-height: 65px;
    font-weight: 400;
    padding-bottom: 33px;
  }
  .main__sort {
    font-size: 34px;
    line-height: 80%;
    display: flex;
    justify-content: center;
    gap: 71px;
    padding-bottom: 36px;
  }
  .main__sort-link:hover {
    border-bottom: 1px solid black;
  }
  .main__content-list {
    display: flex;    
    flex-wrap: wrap;
    flex-direction: column;
    height: 325px;    
    font-family: Open Sans;
    font-size: 22px;
    line-height: 90%;
    gap: 11px;
    margin-bottom: 68px;
    align-content: stretch;
    list-style-type: disc;
  }  
  .main__list-item {
      width: calc(100% / 5);
      font-size: 22px;
      line-height: 90%;
  }
  .main__list-link {
    display: inline-block;
    transform: translateX(-15px);
  }
  .main__list-item_last {
      margin-bottom: 28px;
  }
  .main__list-container {
    padding: 56px 240px 0;
  }
  .main__list-expand {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 172px;
  }
  .main__list-expand-decor {
    cursor: pointer;
    text-decoration: underline 0.5px;
  }
  .main__content-list-expantion {
    position: relative;
    padding-bottom: 285px;
  }
  .arrow-up {
    position: absolute;
    right: -150px;
    bottom: 84px;
  }
  .main__content-groups {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    margin-bottom: 156px;
    background-image: url('../assets/group-bg.png');
    background-repeat: no-repeat;
    padding-top: 56px;
  }
  
  .main__categories {
    display: flex;
    gap: 28px;
    justify-content: center;
  }
  
  .category-image-container, .post-image-container {
    width: 250px;
    height: 438px;
    overflow: hidden;
    margin-bottom: 16px;
  }
  
  .category-image {
    display: block;
    width: 100%;
  }
  .category-choice-item {
    cursor: pointer;
  }
  
  .category-title {
    font-size: 23px;
    line-height: 20px;
  }
  .main__posts-container {
    display: flex;
    gap: 28px;
    overflow: hidden;
    
  }

  .main__breadcrumbs {
    font-family: 'PT Sans Narrow';
    font-size: 24px;
    margin-bottom: 40px;
    padding-left: 139px;
  }

  .post-item_first {
    margin-left: 140px;
  }

  .post-item_last {
    margin-right: 122px;
  }

  .arrow-right,
  .arrow-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 20px;
    z-index: 999;
  }
  
  .arrow-right {
    right: 80px;
  }
  
  .arrow-left {
    left: 80px;
  }