/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol {
  list-style-type: none;
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

.header {
  padding: 52px 100px 89px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: 300;
  font-size: 48px;
  line-height: 90%;
  font-family: "Open Sans", sans-serif;
  font-stretch: condensed;
  letter-spacing: 0.01em;
}

.header__links {
  color: #000;
  font-size: 24px;
  line-height: 25px;
  display: flex;
  gap: 183px;
}

.header__links a {
  color: #000;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 38px;
  justify-content: flex-end;
}

.header__menu {
  position: relative;
}

.header__menu-list {
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  background: #f3efe8;
  width: 316px;
  z-index: 999;
  font-size: 16px;
  line-height: 130%;
  border: 1px solid #6F6D6D;
  border-radius: 6px 0px 6px 6px;
}

.menu__item {
  border-bottom: 0.5px solid #C4C4C4;
  cursor: pointer;
}

.menu__link {
  display: block;
  padding: 15px 20px;
}

.menu__item-categories {
  display: flex;
  justify-content: space-between;
}

.menu__item-categories::after {
  content: url("../assets/open-close-icon.svg");
  transition: transform 0.7s;
  transform-origin: 50% 60%;
}

.menu__item-categories_opened::after {
  transform: scaleY(-1);
}

.menu__category-item {
  border-top: 0.5px solid #C4C4C4;
}

.menu__category-link {
  display: block;
  padding: 10px 20px;
}

.menu__category-link::before {
  display: inline-block;
  content: url("../assets/open-close-icon.svg");
  transition: transform 0.7s;
  margin-right: 5px;
  transform-origin: 50% 60%;
}

.menu__category-link_opened::before {
  transform: scaleY(-1);
}

.menu__post-list {
  border-top: 0.5px solid #C4C4C4;
  padding-bottom: 6px;
  padding-top: 6px;
}

.menu__post-item {
  padding: 3px 37px;
}

.header__menu-icon {
  border: none;
  background-color: transparent;
}

.header__search {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow: hidden;
  transition: width 0.5s;
}

.header__search_open {
  width: 362px;
}

.header__container > div {
  width: 33.3333333333%;
}

.header__search-icon {
  flex-shrink: 0;
}

.header__search-input {
  border: none;
  background-color: transparent;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 18px;
  flex-grow: 1;
  margin-right: 25px;
}

.header__search-input:focus {
  outline: none;
}

.main {
  padding-bottom: 107px;
}

.main__heading {
  text-align: center;
  font-size: 72px;
  line-height: 65px;
  font-weight: 400;
  padding-bottom: 33px;
}

.main__sort {
  font-size: 34px;
  line-height: 80%;
  display: flex;
  justify-content: center;
  gap: 71px;
  padding-bottom: 36px;
}

.main__sort-link:hover {
  border-bottom: 1px solid black;
}

.main__content-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 325px;
  font-family: Open Sans;
  font-size: 22px;
  line-height: 90%;
  gap: 11px;
  margin-bottom: 68px;
  align-content: stretch;
  list-style-type: disc;
}

.main__list-item {
  width: 20%;
  font-size: 22px;
  line-height: 90%;
}

.main__list-link {
  display: inline-block;
  transform: translateX(-15px);
}

.main__list-item_last {
  margin-bottom: 28px;
}

.main__list-container {
  padding: 56px 240px 0;
}

.main__list-expand {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 172px;
}

.main__list-expand-decor {
  cursor: pointer;
  -webkit-text-decoration: underline 0.5px;
          text-decoration: underline 0.5px;
}

.main__content-list-expantion {
  position: relative;
  padding-bottom: 285px;
}

.arrow-up {
  position: absolute;
  right: -150px;
  bottom: 84px;
}

.main__content-groups {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  margin-bottom: 156px;
  background-image: url("../assets/group-bg.png");
  background-repeat: no-repeat;
  padding-top: 56px;
}

.main__categories {
  display: flex;
  gap: 28px;
  justify-content: center;
}

.category-image-container, .post-image-container {
  width: 250px;
  height: 438px;
  overflow: hidden;
  margin-bottom: 16px;
}

.category-image {
  display: block;
  width: 100%;
}

.category-choice-item {
  cursor: pointer;
}

.category-title {
  font-size: 23px;
  line-height: 20px;
}

.main__posts-container {
  display: flex;
  gap: 28px;
  overflow: hidden;
}

.main__breadcrumbs {
  font-family: "PT Sans Narrow";
  font-size: 24px;
  margin-bottom: 40px;
  padding-left: 139px;
}

.post-item_first {
  margin-left: 140px;
}

.post-item_last {
  margin-right: 122px;
}

.arrow-right,
.arrow-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 20px;
  z-index: 999;
}

.arrow-right {
  right: 80px;
}

.arrow-left {
  left: 80px;
}

.footer {
  padding: 0 100px;
}

.footer::before {
  display: block;
  content: "";
  border: 1px solid #c4c4c4;
  margin-bottom: 19px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 29px;
  height: 45px;
}

.footer__logo-split {
  border: 1px solid #C4C4C4;
  height: 100%;
}

.footer__links-item {
  font-size: 24px;
  line-height: 25px;
  font-weight: 400;
}

.footer__middle {
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.footer__title {
  font-size: 30px;
  line-height: 90%;
  margin-bottom: 9.38px;
}

.footer__logo-text {
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 90%;
  font-weight: 300;
  font-stretch: condensed;
}

.footer__feedback {
  display: flex;
  flex-direction: column;
}

.footer__feedback-text {
  margin-bottom: 10px;
}

.footer__link-feedback {
  font-size: 15px;
  line-height: 90%;
  display: flex;
  align-items: center;
}

.where-body {
  background-image: url(../assets/whereami-bg.png);
  background-repeat: no-repeat;
  background-position: 0 118px;
}

.where-main__heading {
  width: 750px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 48px;
  font-stretch: condensed;
  line-height: 100%;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 67px;
}

.where-main {
  padding-bottom: 281px;
}

.where-main__container {
  display: flex;
  gap: 98px;
  justify-content: center;
}

.where-main__columns {
  width: 605px;
}

.where-main__qa-post {
  margin-bottom: 46px;
  min-height: 167px;
}

.where-main__qa-title {
  font-family: "PT Sans Narrow";
  font-weight: 400;
  font-size: 36px;
  line-height: 90%;
  text-align: center;
  margin-bottom: 10px;
}

.where-main__qa-answer {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.where-main__qa-note {
  font-family: "Open Sans";
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
  margin-top: 14px;
}

.where-main__qa-note-image {
  vertical-align: middle;
}

.article__heading {
  font-family: "PT Sans Narrow";
  font-weight: 400;
  font-size: 72px;
  line-height: 90%;
  text-align: center;
  margin-bottom: 40px;
}

.article__subheading {
  font-family: "PT Sans Narrow";
  font-weight: 400;
  font-size: 36px;
  line-height: 90%;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}

.article__linked {
  width: 700px;
  margin-inline: auto;
  font-family: "Open Sans";
  font-size: 19px;
  line-height: 140%;
  margin-bottom: 30px;
}

.article__attention {
  font-weight: 600;
}

.article__linked-item {
  font-style: italic;
}

.article__paragraph {
  width: 700px;
  margin-inline: auto;
  margin-bottom: 25px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 140%;
  position: relative;
}

.article__paragraph_italic {
  font-style: italic;
}

.article__paragraph_marker::before {
  content: url("../assets/point.svg");
  position: absolute;
  left: -23px;
  top: 7px;
}

.article__full-image {
  display: block;
  width: 100%;
}

.article__small-image {
  margin-bottom: 10px;
}

.article__small-image-box {
  width: 700px;
  text-align: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  margin-inline: auto;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 120%;
  color: #6F6D6D;
  text-align: center;
  margin-bottom: 60px;
}

.article__small-image-caption {
  width: 528px;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 26px;
}

.article__divider {
  width: 774px;
  border: none;
  border-bottom: 0.5px solid rgba(160, 160, 160, 0.5);
  margin-bottom: 30px;
}

.article__divider-decorative {
  height: 12px;
  background-image: url("../assets/separator.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-block: 42px;
}

.article__dots {
  display: flex;
  justify-content: center;
  gap: 45px;
}
.article__dots_before {
  margin-top: 84px;
  margin-bottom: 40px;
}
.article__dots_after {
  margin-top: 40px;
  margin-bottom: 86px;
}

.article__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.article__popup {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../assets/popup.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.article__popup:hover .article__popup-text {
  display: block;
}

.article__popup-text {
  width: 450px;
  position: absolute;
  bottom: 100%;
  left: 100%;
  background-color: #f3efe8;
  padding: 22px 24px;
  border: 1px solid #6F6D6D;
  border-radius: 10px 10px 10px 0px;
  display: none;
}

.points {
  width: 700px;
  margin-inline: auto;
  position: relative;
  margin-bottom: 30px;
}

.points__image {
  width: 100%;
  display: block;
}

.points__point {
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 14px;
  height: 14px;
}
.points__point_big {
  border: 4px solid #fff;
  width: 20px;
  height: 20px;
}
.points__point:hover + .points__info-box {
  opacity: 1;
}

.points__info-box {
  position: absolute;
  width: 300px;
  opacity: 0;
  transition: opacity 0.4s;
}
.points__info-box_left {
  left: -415px;
}
.points__info-box_right {
  right: -415px;
}

.points__info-image {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.points__info-text {
  font-style: italic;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
}

.gallery {
  width: 700px;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 28px;
  position: relative;
}

.gallery__counter {
  width: 448px;
  margin-inline: auto;
  text-align: right;
  margin-bottom: 5px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 90%;
  color: #6E6D6D;
}

.gallery__arrow-right, .gallery__arrow-left {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 12px;
}

.gallery__arrow-left {
  left: 120px;
}

.gallery__arrow-right {
  right: 120px;
}

.gallery__slide {
  display: none;
}
.gallery__slide_active {
  display: block;
}

.gallery__image {
  height: 736px;
  margin-bottom: 10px;
}

.gallery__caption {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 120%;
  color: #6F6D6D;
  width: 251px;
  margin-inline: auto;
  height: 35px;
}

.slider__container {
  width: 580px;
  margin-inline: auto;
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.slider {
  width: 774px;
  margin-inline: auto;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 24px;
  margin-bottom: 60px;
}
.slider__front {
  flex-shrink: 0;
  width: 90%;
  overflow: hidden;
  z-index: 998;
}
.slider__front-image {
  height: 350px;
}
.slider__back {
  position: absolute;
  left: 0;
  width: 100%;
}
.slider__back-image {
  height: 350px;
}
.slider__caption {
  width: 251px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #6F6D6D;
  margin-inline: auto;
}
.slider__divider {
  width: 4px;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 9px;
}
.slider__btn {
  background-color: transparent;
  border: none;
  transform: translateX(-45px);
}
.slider__btn-drag {
  width: 12px;
  height: 90px;
  background-color: #fff;
}
.slider__btn-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #fff;
  border-bottom: 10px solid transparent;
}
.slider__btn-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid #fff;
  border-bottom: 10px solid transparent;
}

html {
  font-size: 14px;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #f3efe8;
}

.index-body {
  background-image: url("../assets/bg.png");
  background-position: 291px -52px;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

.button {
  border: none;
  background-color: transparent;
}/*# sourceMappingURL=styles.css.map */